fastapi
uvicorn
python-dotenv
google-generativeai
requests
httpx
beautifulsoup4
numpy
psutil
networkx
websockets
rich
pydantic
ollama
pyzmq
python-telegram-bot
langdetect
flask
spotipy
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
python-dateutil
APScheduler
wikipedia
arxiv
asgiref
livekit-api
fastmcp
mcp
edge-tts
